# Node.js
node_modules/

# Build output
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Env files
.env*
!.env.example
!.env.dev-local

# IDE
.vscode/
.idea/

# Misc
*.swp
*.swo

# TypeScript
*.tsbuildinfo

# Coverage
coverage/

# Others
*.log

node_modules
